
<h2 class="text-center mt-4"><%= @profile.name %></h2>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-primary" %>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
