
<h2 class="text-center mt-4"><%= @profile.name %></h2>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="card-img-top" alt="...">
    <div class="card-body">
      <%= @profile.name %>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-primary" %>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
